<div class="container">
    <div class="menu">
        <h1>ENIATECH</h1>
        <div class="salir">
            <button (click)="cerrarSesion()">cerrar sesión</button>
        </div>
    </div>
    <div class="table">
        <table border="1">
            <thead>
                <tr>
                    <th>Fecha y Hora</th>
                    <th>Llamante</th>
                    <th>Destino</th>
                    <th>Estado</th>
                    <th>Tiempo de Timbre</th>
                    <th>Duración</th>
                    <th>Motivo</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025-02-11 17:09:48</td>
                    <td>Samcor 3322552583</td>
                    <td>Recepcion 1 Fed 7011</td>
                    <td>answered</td>
                    <td>00:00:05</td>
                    <td>00:01:44</td>
                    <td>Terminated by Recepcion 1 Fed 7011</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
